/**
 * color Style Light Blue
 *
 * Created by GuoJunjun <junjunguo.com> on 27/02/15.
 */

.thebackground {
    -fx-background-color : #B3E5FC;
    }

.sectionTitle {
    -fx-text-fill : #01579B;
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
    }
.bigFont{
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    }
.inputSection {
    -fx-background-color : #E1F5FE;
    }

.button {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    -fx-font-weight      : 900;
    }

.button:hover {
    -fx-background-color : #01579B;
    }

.text-area *.content {
    -fx-background-color : #E1F5FE;
    }

.combo-box {
    -fx-background-color : #E1F5FE;
    }

.combo-box-popup {
    -fx-background-color : #E1F5FE;
    }

.combo-box > .text-field {
    -fx-background-color : #E1F5FE;
    }

.date-picker {
    -fx-background-color : #E1F5FE;
    }

.date-picker-popup > .mo {
    -fx-background-color : #E1F5FE;
    }

.date-picker-popup > .month-year-pane {
    -fx-background-color : #E1F5FE;
    }

.date-picker > .text-field {
    -fx-background-color : #E1F5FE;
    }

.list-view .list-cell {
    -fx-padding           : 10 20 10 20;
    -fx-background-color  : #B3E5FC;
    -fx-background-insets : 0, 1;
    -fx-effect            : dropshadow(three-pass-box, rgba(12, 31, 0, 0.6), 8, 0.0, 0, 0);
    }

.list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    }

.list-view .list-cell:filled:hover {
    -fx-background-color : #01579B;
    -fx-text-fill        : #E1F5FE;
    }

.list-cell:even {
    -fx-background-color : #E1F5FE;
    }