/*
 * Author GuoJunjun <junjunguo.com>, created on 15.1.2015.
 */

.label {
    -fx-background-color : #000000;
    -fx-text-fill        : #FFFFFF;
    -fx-alignment        : bottom-right;
    -fx-padding          : 0 10 0 0;
    -fx-font-size        : 65;
    }
.warning {
    -fx-background-color : #000000;
    -fx-text-fill        : #F68B2A;
    -fx-alignment        : center;
    -fx-padding          : 0 10 0 0;
    -fx-font-size        : 16;
    }

.button {
    -fx-font-size         : 20;
    -fx-text-fill         : #000000;
    -fx-font-weight       : 100;
    -fx-background-color  : linear-gradient(rgb(62, 62, 62) 0%, rgb(59, 59, 59) 100%),
    linear-gradient(rgb(62, 62, 62), rgb(59, 59, 59)),
    linear-gradient(rgb(210, 212, 213) 0%, rgb(215, 216, 218) 100%);
    -fx-background-insets : 0, 0.5, 0.5;
    -fx-background-radius : 0, 0, 0;
    }

.btnStyle1 {
    -fx-background-color  : linear-gradient(rgb(62, 62, 62) 0%, rgb(59, 59, 59) 100%),
    linear-gradient(rgb(62, 62, 62), rgb(59, 59, 59)),
    linear-gradient(rgb(246, 139, 42) 0%, rgb(244, 131, 41) 100%);
    -fx-background-insets : 0, 0.5, 0.5;
    -fx-background-radius : 0, 0, 0;
    -fx-text-fill         : #FFFFFF;
    }

.labelup {
    -fx-text-fill : #969696;
    -fx-font-size : 14;
    }

.display {
    -fx-background-color : #000000;
    -fx-text-fill        : #FFFFFF;
    }